// Colors
$blue-dark-5: #080e1b;
$blue-dark-4: #101d36;
$blue-dark-3: #182b50;
$blue-dark-2: #203a6b;
$blue-dark-1: #284886;
$blue-base: #3e66b1;
$blue-light-1: #6489d1;
$blue-light-2: #97b0e0;
$blue-light-3: #cbd8f0;
$blue-light-4: #f2f5fb;
$blue-light-5: #fafcfe;
$generic-green: #4a9652;
$generic-red: #bd3a3a;
